name: Deploy to Google Cloud Run

env:
  SERVICE_NAME: digital-bridge-backend

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  dockerize-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Google Cloud Auth
        uses: 'google-github-actions/auth@v2'
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Configure Docker
        run: |
          gcloud auth configure-docker ${{ secrets.GCP_REGION }}-docker.pkg.dev

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_REGISTRY_NAME }}/${{ secrets.DOCKER_IMAGE_NAME }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --image=${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_REGISTRY_NAME }}/${{ secrets.DOCKER_IMAGE_NAME }}:${{ github.sha }} \
            --region=${{ secrets.GCP_REGION }} \
            --platform=managed \
            --allow-unauthenticated
            --set-env-vars PORT=8080
                            KORAIL_ID = ${{ secrets.GCP_REGION }},
                            KORAIL_PW = ${{ secrets.KORAIL_PW }},
                            CARD_PASSWORD=${{ secrets.CARD_PASSWORD }},
                            AUTH_NUMBER=${{ secrets.AUTH_NUMBER }},
                            GOOGLE_CLOUD_PROJECT_ID = ${{ secrets.GOOGLE_CLOUD_PROJECT_ID }},
                            GOOGLE_CLOUD_LOCATION = ${{ secrets.GOOGLE_CLOUD_LOCATION }},
                            GOOGLE_CLOUD_PROCESSOR_ID = ${{ secrets.GOOGLE_CLOUD_PROCESSOR_ID }},
                            GOOGLE_APPLICATION_CREDENTIALS=${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }},
            
